<div>
  <h1 class="border-bottom">
    Acerca
  </h1>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">¿Qué es?</h1>
          <p class="lead">
            Dado un número recibido se calcularan los multiplos de 3, 5 y 7 que se encuentren en el rango de 0 y el
            número dado.
          </p>
        </div>
      </div>
    </div>
  </div>
  <h1 class="border-bottom">
    Números
  </h1>
  <br />
  <div class="row">
    <form [formGroup]="formNumber" class="form-inline">
      <div class="form-group mx-sm-3 mb-2 col-md-4">
        <label for="number" class="sr-only">Número</label>
        <input
          [OnlyNumber]="true"
          type="text"
          class="form-control"
          id="number"
          formControlName="number"
          placeholder="Ingresa un número"
        />
      </div>

      <div class="col-mb-2">
        <button
          type="submit"
          class="btn btn-primary mb-2"
          (click)="calculateMultiples()"
          [disabled]="formNumber.invalid"
        >
          Calcular
        </button>
      </div>
      <div class="mb-2">
        <button type="button" class="btn btn-primary mb-2" (click)="cancelar()" [disabled]="formNumber.invalid">
          Nuevo Calculo
        </button>
      </div>
    </form>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <ul class="list-group">
        <ng-container *ngFor="let item of multiplesData">
          <ng-container *ngIf="item.isOne">
            <ng-container *ngIf="item.mult3">
              <li class="list-group-item list-group-item-success">{{ item.num }}</li>
            </ng-container>
            <ng-container *ngIf="item.mult5">
              <li class="list-group-item list-group-item-danger">{{ item.num }}</li>
            </ng-container>
            <ng-container *ngIf="item.mult7">
              <li class="list-group-item list-group-item-info">{{ item.num }}</li>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="item.isTwo">
            <ng-container *ngIf="item.mult35">
              <li class="list-group-item list-group-item-success">{{ item.num }} (3, 5)</li>
            </ng-container>
            <ng-container *ngIf="item.mult37">
              <li class="list-group-item list-group-item-success">{{ item.num }} (3, 7)</li>
            </ng-container>
            <ng-container *ngIf="item.mult57">
              <li class="list-group-item list-group-item-danger">{{ item.num }} (5, 7)</li>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="item.isThree">
            <ng-container *ngIf="item.mult357">
              <li class="list-group-item list-group-item-success">{{ item.num }} (3, 5, 7)</li>
            </ng-container>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </div>
  <hr />
  <br />
  <br />
</div>
